.site-footer {
    font-family: "Roboto", sans-serif;
    background-color:rgb(180, 180, 180);
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    font-size: 15px;
    line-height:24px;
    color:#ffffff;
}

.site-footer hr {
    border-top-color:#bbb;
    opacity:0.5
}

.site-footer hr.small {
    margin:20px 0
}

.site-footer h6 {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a {
    color:rgba(243, 168, 183, 1);
}
.site-footer a:hover {
    color:#fdfdfd;
    text-decoration:none;
}
.footer-links {
    padding-left:0;
    list-style:none
}
.footer-links li {
    display:block
}
.footer-links a {
    color:rgba(243, 168, 183, 1);
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
    color:#fdfdfd;
    text-decoration:none;
}
.footer-links.inline li {
    display:inline-block
}

/*------------------------------------------------- Social Icons --------------------------------*/


.site-footer .footer-social-icons {
    text-align:right
}
/* .site-footer .footer-social-icons a {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
} */
.copyright-text {
    margin:0
}
@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom:30px
    }
}
@media (max-width:767px) {
    .site-footer {
        padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .footer-social-icons {
        text-align:center
    }
}
.footer-social-icons {
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.footer-social-icons li {
    display:inline-block;
    margin-bottom:4px
}
.footer-social-icons li.title {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}
.footer-social-icons a {
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.footer-social-icons a:active,.footer-social-icons a:focus,.footer-social-icons a:hover {
    color:#fff;
    background-color:#e6ecf0
}

.footer-social-icons.size-sm a {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.footer-social-icons a.facebook:hover {
    background-color:#3b5998
}

.footer-social-icons a.insta:hover {
    /* background-color:#c13584; */
    background-color:#e1306c;
}

.footer-social-icons a.linkedin:hover {
    background-color:#007bb6
}

.footer-social-icons a.github:hover {
    background-color:#000000
}

@media (max-width:767px) {
    .footer-social-icons li.title {
        display:block;
        margin-right:0;
        font-weight:600
  }
}