.line-skill {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
  height: 8px;
}

.radial-skill {
  font-family: "Roboto", sans-serif;
  margin: 20px;
  width: 100px;
  height: 100px;
  position: relative;
}


#skills h3 {
  font-family: "Roboto", sans-serif;
  text-align-last: center;
  text-transform: uppercase;
}

#percent {
  font-family: "Roboto", sans-serif;
  float:right;
}

.radial-skill-label {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

