/* rgba(243, 168, 183, 1) */


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}


.section-title {
  text-align: center;
  text-transform: uppercase;
  color:rgba(243, 168, 183, 1);
}

/*------------------------------------------------- Social Icons --------------------------------*/



.social-icons a i {
  position: relative;
  color: rgb(70, 67, 67);
  font-size: 18px;
  margin: 0 7px;
  line-height: 40px;
  text-align: center;
  width: 40px;
  height: 40px;
}

.social-icons a i::before {
  position: relative;
  z-index: 1;
}

.social-icons a i::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border: 1px solid rgb(70, 67, 67);
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;            
}

.social-icons a.linkedin i:hover::after{
  background: #007bb6;
  border: 1px solid transparent;
  z-index: 0;
}
.social-icons a.github i:hover::after{
  background: #000000;
  border: 1px solid transparent;
  z-index: 0;
}


/* <!--------------------------------------------- Navbar ---------------------------------------------------> */

#mainNav {
  position: -webkit-sticky;
  position: sticky;
  top:0;
}

#mainNav li a { 
  color: #000000; 
}
#mainNav li a.active { 
  color: #000000; 
  opacity:1; 
}

#mainNav li a:hover { 
  color: #d88aab;  
}

/* <!------------------------------------------- About section -------------------------------------------> */


.myprofile {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border:1px solid #EEEEEE;
  position: relative;
}

.myprofile::after {
  content: "";
  border-bottom: 1px solid #EEEEEE;
  position: absolute;
  bottom: -3px;
  width: 100%;
  border-radius: 10px;
  height: 20px;
}
.myphoto{
  position: relative;
  background: url(../../assets/images/photo-frame.png) bottom center no-repeat;
  background-size: contain;
}

.myphoto img{
  position: relative;
  z-index: -1;
}


/* <!------------------------------------------- Resume section ------------------------------------------------> */



/* <!------------------------------------------ Skills section -----------------------------------------------> */




/* <!------------------------------------------- Publications section --------------------------------------------> */



/* <!-------------------------------------------- Contact section -------------------------------------------------> */



/**************************************/
/*   scrollbar  */

::-webkit-scrollbar {
	width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
	background: #888; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}


