/* rgba(243, 168, 183, 1) */


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}


.btn {
  font-family: "Roboto", sans-serif;
  background-color: rgba(243, 168, 183, 1);
  border: rgba(243, 168, 183, 1);
  color: white;
}

.btn:hover {
  background-color: #68b3e2;
  border: #68b3e2;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 20px;
  color:rgba(243, 168, 183, 1);
}



/* <!--------------------------------------------- Navbar ---------------------------------------------------> */

#mainNav {
  position: -webkit-sticky;
  position: sticky;
  top:0;
}

.navbar-brand {
  color: black;
}
.navbar-brand:hover {
  color:rgba(243, 168, 183, 1);
}

#mainNav li a { 
  color: #000000; 
}
#mainNav li a.active { 
  color: #000000; 
  opacity:1; 
}

#mainNav li a:hover { 
  color: rgba(243, 168, 183, 1);  
}

/* <!------------------------------------------- About section -------------------------------------------> */

.about-text {
  font-family: "Roboto", sans-serif;
  text-align: justify; 
  text-justify: inter-word;
}

.myprofile {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border:1px solid #EEEEEE;
  position: relative;
}

.myprofile::after {
  content: "";
  border-bottom: 1px solid #EEEEEE;
  position: absolute;
  bottom: -3px;
  width: 100%;
  border-radius: 10px;
  height: 20px;
}

.myprofile p {
  padding: 10px;
  margin: 10px;
}

.myphoto{
  position: relative;
  background: url(photo-frame.png) bottom center no-repeat;
  background-size: contain;
}

.myphoto img{
  position: relative;
  /* background: url(rsz_peach.jpg) bottom center no-repeat; */
  z-index: -1;
}

.download-button {
  padding: 10px 24px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



/* <!------------------------------------------- Resume section ------------------------------------------------> */



/* <!------------------------------------------- Publications section --------------------------------------------> */



/* <!-------------------------------------------- Contact section -------------------------------------------------> */



/********************************************************* scrollbar *****************************************************/
/*   scrollbar  */

::-webkit-scrollbar {
	width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
	background: #888; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}


/**************************************************** Social Icons ***************************************************/


.site-footer .social-icons {
  text-align:left;
}
/* .site-footer .footer-social-icons a {
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
} */


@media (max-width:991px) {
  .site-footer [class^=col-] {
      margin-bottom:30px
  }
}
@media (max-width:767px) {
  .site-footer {
      padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons {
      text-align:center
  }
}
.social-icons {
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li {
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title {
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a {
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover {
  color:#fff;
  background-color:#e6ecf0
}

.social-icons.size-sm a {
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover {
  background-color:#3b5998
}

.social-icons a.insta:hover {
  /* background-color:#c13584; */
  background-color:#e1306c
}

.social-icons a.linkedin:hover {
  background-color:#007bb6
}

.social-icons a.github:hover {
  background-color:#000000
}

@media (max-width:767px) {
  .social-icons li.title {
      display:block;
      margin-right:0;
      font-weight:600
  }
}

