body, html {
    height: 100%;
}
  
.parallax { 
    background-image: url("images/clouds.jpg");
  
    height: 100%;
    width: 100%; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax h1{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 150px;
    color: #fff;
}


.image-container {
    background-image: url("images/clouds.jpg");
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .text {
    background-color: white;
    color: black;
    font-size: 10vw; 
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
  }




/* turn off parallax for mobile */
@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
}
